

<li class="nav-main-item">
    <%= link_to stores_path, class: "nav-main-link" do %>
        <i class="nav-main-link-icon fa fa-store-alt"></i>
        <span class="nav-main-link-name">Lojas</span>
    </a>
    <% end %>
</li>


<li class="nav-main-item">
    <%= link_to sales_path, class: "nav-main-link" do %>
        <i class="nav-main-link-icon fa fa-shopping-cart"></i>
        <span class="nav-main-link-name">Vendas</span>
    </a>
    <% end %>
</li>

<hr>

<li class="nav-main-item">
    <%= link_to comapnies_details_path(current_user.company_id), class: "nav-main-link" do %>
        <i class="nav-main-link-icon fa fa-cogs"></i>
        <span class="nav-main-link-name">Configurações</span>
    </a>
    <% end %>
</li>