<li class="nav-main-item">
    <%= link_to companies_path, class: "nav-main-link active" do %>
        <i class="nav-main-link-icon fa fa-building"></i>
        <span class="nav-main-link-name">Empresas</span>
    <% end %>
</li>


<li class="nav-main-item">
    <%= link_to "#", class: "nav-main-link active" do %>
        <i class="nav-main-link-icon fa fa-swatchbook"></i>
        <span class="nav-main-link-name">Parceiros</span>
    <% end %>
</li>

<br>
<br>
<hr>


