
<li class="nav-main-item">
    <%= link_to profiles_path, class: "nav-main-link active" do %>
        <i class="nav-main-link-icon fa fa-users"></i>
        <span class="nav-main-link-name">Clientes</span>
    <% end %>
</li>

<li class="nav-main-item">
    <%= link_to banks_path, class: "nav-main-link active" do %>
        <i class="nav-main-link-icon fa fa-archway"></i>
        <span class="nav-main-link-name">Bancos</span>
    <% end %>
</li>


<br>
<br>
<hr>
