<div class="alert alert-info alert-dismissable p-5" role="alert">
    <h1 class="alert-heading font-w300 my-2">
        <span class="fa fa-grin"></span> 
        Seja bem vindo à Paga3
    </h1>
    <p class="mb-0">Obrigado por registar-se!</p>
    <p class="mb-0">Por favor clique aqui <a href="<%= edit_profile_path(current_user.profile) %>"><span class="far fa-hand-point-right icon-go-to-profile"></span></a> para terminar de preencher o seu perfil!</p>
     <p class="mb-0" style="color: red;">Att: se não terminar o preencimento do seu perfil não podera fazer compras... </p>

    <br>
    <p class="mb-0">Esta com alguma urgência? </p>
    <p class="mb-0"> <span class="fa fa-headphones-alt"></span> +244 920 909 909 </p>
    <p class="mb-0"> <span class="fa fa-envelope"></span> <em>geral@paga3.com</em> </p>
</div>