<section class="hero-section ico-bg3 relative hidden" id="home">
    <div class="hero-section-content">
        <div class="container ">
            <div class="row align-items-center">
                <!-- Welcome Content -->
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="welcome-content text-left">
                        <div class="promo-section">
                            <h2>
                                Vendas e Compras por Prestações
                            </h2>
                        </div>
                        <div class="cd-intro v2 text-left">
                            <h1 class="cd-headline clip is-full-width thin">
                                <span class="w-text bold">Pague a Primeira Prestação e Leve Já. </span>
                            </h1>
                        </div>
                        <p class="g-text fadeInUp" data-wow-delay="0.3s">
                            Com a PAGA3 o problema da retenção do produto fica resolvido, pague a primeira parcela e leve o produto de imediato sem a preocupação de voltar à loja para pagar as restantes parcelas.
                        </p>
                        <div class="info-btn-group fadeInUp w-text" data-wow-delay="0.4s">
                            <a href="/users/sign_up" class="btn btn-p3 more-btn pink mr-3">Criar conta Paga3</a>
                        </div>

                    </div>
                </div>
                <div class="mt-50 col-12 col-lg-6 offset-lg-0 col-md-10 offset-md-1 col-sm-12 ">
                    <div class="wow fadeInUp" style="" data-wow-delay="0.5s">
                        <div class="ab-wrapper v2">
                            <img class="abso-img1" src="/site/img/about-1.png" alt="">
                            <img class="wow abso-img2 fadeInUp floating max-75" data-wow-delay="0.2s" src="/site/img/core-img/about-12.png" alt="">
                            <img class="abso-img3" src="/site/img/core-img/dotted1.svg" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<div class="clearfix"></div>


<section class="about-us-area section-padding-100-70 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="service-img-wrapper mb-30">
                    <div class="image-box">
                        <img src="/site/img/bg-p3-2.png" class="center-block img-responsive phone-img" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-0 col-xs-12">
                <!--Services Block Four-->
                <div class="services-block-four transparent">
                    <div class="inner-box">
                        <div class="icon-icon bg4 d-none d-sm-block">
                            <img src="/site/img/icons/i1.png" alt="">
                        </div>
                        <h3><a class="normal" href="#">Criação de conta Paga3</a></h3>
                        <p class="text">
                            Para Criar uma Conta na PAGA3 é fácil, basta apenas introduzir: Número de Telefone, Email, Nome do Usuário, Palavra Passe.
                        </p>
                    </div>
                </div>
                <!--Services Block Four-->
                <div class="services-block-four transparent ">
                    <div class="inner-box">
                        <div class="icon-icon bg4 d-none d-sm-block">
                            <img src="/site/img/icons/i2.png" alt="">
                        </div>
                        <h3><a class="normal" href="#">Adição de Informações ao Perfil</a></h3>
                        <p class="text">
                            Após a criação da conta deverá adicionar as informações complementares.
                        </p>
                    </div>
                </div>
                <!--Services Block Four-->
                <div class="services-block-four transparent">
                    <div class="inner-box">
                        <div class="icon-icon bg4 d-none d-sm-block">
                            <img src="/site/img/icons/i3.png" alt="">
                        </div>
                        <h3><a class="normal" href="#">Validação das informações </a></h3>
                        <p class="text">Após adicionar as informações a mesma será validada num periodo maximo de 48 horas.</p>

                    </div>
                </div>
                <!--Services Block Four-->
                <div class="services-block-four transparent mb-0">
                    <div class="inner-box">
                        <div class="icon-icon bg4 d-none d-sm-block">
                            <img src="/site/img/icons/i4.png" alt="">
                        </div>
                        <h3><a class="normal" href="#">Admissão Cliente PAGA3</a></h3>
                        <p class="text">
                            Após a validação das informações, a PAGA3 procederá a activação da conta, assim o cliente está habilitado para comprar os produtos e serviços dos nossos parceiros.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="section-padding-0-70 relative" id="feat">
    <div class="container">

        <div class="section-heading text-center">
            <br>
            <br>
            <h2 class="fadeInUp" data-wow-delay="0.3s">
                A Melhor Escolha Para Si
            </h2>
            <p class="fadeInUp" data-wow-delay="0.4s">
                Aceleramos as suas vendas e suavizamos as suas despesas.
            </p>
        </div>


        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.2s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="/site/img/snap.svg" alt="">
                    </div>
                    <h6 class="bold">Fácil</h6>
                    <p>
                        Não precisa sair de casa para abrir uma conta, faça no seu computador ou telemóvel.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="/site/img/rocket-ship.svg" alt="">
                    </div>
                    <h6 class="bold">Rápido</h6>
                    <p>
                        Sem burocracia, em curto tempo a sua conta é validada, para poder efectuar  compras pagando de forma parcelada, vender produtos caso seja uma Loja ou Prestador de Serviços.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.4s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="/site/img/shield.svg" alt="">
                    </div>
                    <h6 class="bold">Seguro</h6>
                    <p>
                        Garantia da integridade, confidencialidade dos dados fornecidos à PAGA3, garantia de que o pagamento das restantes parcelas dos produtos ou serviços, são efectuados nos prazos estabelecidos.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>



<!-- ##### About Us Area End ##### -->
<section class="relative section-padding-100-70 payment-section-gradient">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 offset-lg-0 col-md-12 no-padding-left">
                <div class="ab-wrapper">
                    <img class="abso-img1" src="/site/img/about-1.png" alt="">
                    <img class="wow abso-img2 fadeInUp floating" data-wow-delay="0.2s" src="/site/img/core-img/about-12.png" alt="">
                    <img class="abso-img3" src="/site/img/core-img/dotted1.svg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6 offset-lg-0">
                <div class="who-we-contant mt-s">
                    <div class="mb-15 text-left fadeInUp" data-wow-delay="0.2s">
                        <span class="span-title">Paga3</span>
                    </div>
                    <h4 class="fadeInUp" data-wow-delay="0.3s">Melhor serviço de pagamento por prestação</h4>
                    <p class="fadeInUp" data-wow-delay="0.4s">
                        Somos uma Startup Fintech prestadora de serviços de pagamentos, num intervalo de 3 á 6 parcelas mensais.Criada em 2019 por jovens angolanos e posteriormente inserida por meio de concurso público no programa do BNA, denominado LISPA (Labotatório de Inovação e Sistemas de Pagamento de Angola). Nosso foco é a Aceleracao das Vendas de Nossos Parceiros e Suavização da Despesa dos Clientes Finais.Somos uma opção confortável na forma de se fazer negócios em Angola.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>