<% @assunto = 'Instruções de alteração de senha' %>
<h3>Olá <%= @resource.email %>!</h3>
<br>
<h3>Alguém solicitou um link para alterar a sua palavra-passe. Pode fazê-lo através do link abaixo.</h3>
<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token), class: "btn btn-primary" %></p>
<p>Se não solicitou isto, por favor ignore este e-mail.</p>
<p>A sua palavra-passe não será alterada até aceder ao link acima e criar uma nova palavra-passe.</p>

